<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="fileRollingFile" fileName="${sys:catalina.home}/logs/pds/app.log"
                     filePattern="${sys:catalina.home}/logs/pds/app-$${date:yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="sqlRollingFile" fileName="${sys:catalina.home}/logs/pds/sql.log"
                     filePattern="${sys:catalina.home}/logs/pds/sql-$${date:yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="loginRollingFile" fileName="${sys:catalina.home}/logs/pds/loginAccess.log"
                     filePattern="${sys:catalina.home}/logs/pds/loginAccess-$${date:yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="${log.logger.app}"/>
        </Root>
        <Logger name="druid.sql.Statement" level="${log.level}" additivity="false">
            <AppenderRef ref="${log.logger.sql}" />
        </Logger>

        <Logger name="com.ctdcn.pds.sys.controller.LoginController" level="debug" additivity="false">
            <AppenderRef ref="loginRollingFile" />
        </Logger>

        <Logger name="com.ctdcn.pds" level="${log.level}" additivity="true">
            <AppenderRef ref="${log.logger.app}" />
        </Logger>
        <Logger name="me.chanjar.weixin.cp.api.WxCpServiceImpl" level="${log.level}" additivity="false">
            <AppenderRef ref="${log.logger.app}" />
        </Logger>
    </Loggers>
</Configuration>