<mobile-nav href="/mobile/modifyMyData/#/modifyMyData">修改个人密码</mobile-nav>

<div class="container-fluid" style="margin: 10px auto;">
    <form class="form-horizontal" name="editPasswordForm">
        <div class="form-group">
            <label class="col-sm-2 control-label">原始密码：</label>
            <div class="col-sm-10">
                <input id="old_password" name="old_password" type="password" class="form-control" ng-model="oldPassword" required ng-trim >
                <span class="error" ng-show="editPasswordForm.old_password.$error.required" style="font-size: 6px;color: red;" >{{oldError}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">新密码：</label>
            <div class="col-sm-10">
                <input id="new_password_1" name="new_password_1" type="password" class="form-control" ng-model="newPassword_1" required ng-trim >
                <span class="error" ng-show="editPasswordForm.new_password_1.$error.required" style="font-size: 6px;color: red;" >{{newError_1}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">确认密码：</label>
            <div class="col-sm-10">
                <input id="new_password_2" name="new_password_2" type="password" class="form-control" ng-model="newPassword_2" required ng-trim >
                <span class="error" ng-show="editPasswordForm.new_password_2.$error.required" style="font-size: 6px;color: red;" >{{newError_2}}</span>
            </div>
        </div>
        <div class="form-group" style="padding:10px 15px;" >
            <button class="btn btn-success btn-block" ng-click="submit()" ng-Disabled="!editPasswordForm.$valid" loading-button is-done="submitDone" >保存</button>
        </div>
    </form>

</div>